#test{
	
	position: fixed;
	height: 60px;
	width: 100%;
	top: 0px;
	left: 0px;
	background: #000;
	border-bottom: 2px solid white;
	z-index: 100;
}

body{

	-webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
 }

 #title{

 	position: relative;
 	margin-top: 0.5em;
 	margin-left: 25%;
 	margin-right: 53%;
 	color: white;
 	font-size: 1.5em;
 	font-family: 'Nosifer', cursive;

 }

#menu_table{

	position: relative;
	margin-left: 67%;
	margin-top: -2.6em;
	margin-right: 18%;
	height: 3.6em;
}

#c1, #c2, #c3{

	color: white;
	width: 5em;
	font-size: 1.1em;
	text-align: center;
	font-family: 'Fredoka One', cursive;
}

#c4{

	color: white;
	width: 6em;
	font-size: 1.1em;
	text-align: center;
	font-family: 'Fredoka One', cursive;
}

#home, #projects, #aboutus, #search{

	text-decoration: none;
	color: white;
}

 #home:hover, #projects:hover, #aboutus:hover, #search:hover{

 	opacity: 0.6;
 	-webkit-transition: opacity 0.2s ease-in; 
 }

 #aboutus_text{

 	position: relative;
 	margin-top: 10%;
 	margin-left: 10%;
 }

#content{

	position: relative;
	margin-right: 22%;
	margin-left: 22%;
	margin-top: 7%;
	height: 800px;
	background: white;
	opacity: 0.8;
}
 
#signup_text{

	font-size: 2em;
	position: relative;
	margin-top: 4em;
	margin-left: 45.8%;
	font-family: 'Special Elite', cursive;
}

#table{

	position: relative;
	margin-left: 32%;
	margin-top: 1%;
	margin-right: 30%;
	background: #515151;
	color: white;
	padding-left: 5em;
	padding-right: 5em;
	padding-top: 1em;
	padding-bottom: 0.5em;
}

#col1{

	width: 10em;
	font-size: 1.2em;
	text-align: center;
	font-family: 'Tauri', sans-serif;
}

#col2{

	width: 25em;
	height: 10px;
	padding-top: 10px;
	padding-bottom: 5px;
	font-size: 1em;
}

input{

	border: 2px solid #dce4ec;
  
  font-family: "Lato", sans-serif;
  padding: 8px 0 9px 10px;
  text-indent: 1px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
 	width: 90%;
 	font-size: 1em;
}

input:focus{

	border-color: rgb(81, 86, 87);
}

#gender, #country{

	width: 94%;
	font-size: 1.3em;
	border-radius: 2px;
}

#not_matching{

	color: red;
	position: relative;
	left: 3em;
	visibility: hidden;
}

#btn{

	border: none;
	background: #3498db;
	font-size: 25px;
	text-decoration: none;
	text-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
	transition: 0.25s;
	-webkit-backface-visibility: hidden;
	width: 7em;
	position: relative;
	margin-top: 1em;
	margin-left: 56%;
	height: 2em;
}

#btn:hover{

	background-color: #4e6d8d;
    color: white;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    -webkit-backface-visibility: hidden;
}

#required_text{

	color: red;
	font-size: 1.3em;
	position: relative;
	margin-left: 43%;
	visibility: hidden;
}

#required{

	color: red;
	font-size: 0.5em;
}

#signup_button{

	width: 60%;
  font-size: 1.2em;
  font-family: 'Special Elite', cursive;
  background: black;
  color: white;
  width: 45%;
  float: left;
  margin-left: 50%;
  margin-top: 2%;
}

#signup_button:hover{

	background-color: rgb(81, 86, 87);
    color: white;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    -webkit-backface-visibility: hidden;
}


/*position: fixed;
 	top: 0px;
 	height: 60px;
 	width: 6%;
 	right: 33em;
 	color: white;
 	font-size: 1.5em;
 	text-decoration: none;
 	margin-left: 60%;*/

#menu_col1:hover{

	background-color: grey;
}